<template name="SessionIn">
        <li>
                <a class="N-link" href="/add_glucose">
                        <span class="glyphicon glyphicon-bell menu-icon"></span> Add</a>
        </li>
        <li>
                <a class="N-link" href="/filter_data">
                        <span class="glyphicon glyphicon-search menu-icon"></span> Search</a>
        </li>
        <li>
                <a class="N-link" href="/share_data">
                        <span class="glyphicon glyphicon-share-alt menu-icon"></span> Share</a>
        </li>
        <li>
                <a class="N-link" href="/user_settings">
                        <span class="glyphicon glyphicon-tasks menu-icon"></span> Settings</a>
        </li>
        <li>
                <a class="N-link logout" href="#">Logout</a>
        </li>
</template>